<div class="container mx-auto">
  <div class="flex gap-4">
    <section class="basis-1/4">
      <div class="mb-3">
        <h5 class="p-4 pb-2 text-sm opacity-60 tracking-wide prose">Sort</h5>
        <select class="select my-2" (change)="onSortSelected($event)">
          @for (sort of sortOptions; track $index) {
            <option [value]="sort.value">{{ sort.name }}</option>
          }
        </select>
      </div>

      <!-- Brands -->
      <div class="mb-3">
        <h5 class="p-4 pb-2 text-sm opacity-60 tracking-wide prose">Brands</h5>
        <ul class="list bg-base-100 rounded-box shadow-md my-2">
          @for (brand of brands(); track brand.id) {
            <li
              class="list-row hover:bg-primary hover:transition-all"
              [class.bg-primary]="brand.id === shopParams.brandId"
              [value]="brand.id"
              (click)="onBrandSelected(brand.id)"
            >
              {{ brand.name }}
            </li>
          }
        </ul>
      </div>

      <!-- Types -->
      <div>
        <h5 class="p-4 pb-2 text-sm opacity-60 tracking-wide prose">Types</h5>
        <ul class="list bg-base-100 rounded-box shadow-md my-2">
          @for (type of types(); track type.id) {
            <li
              class="list-row hover:bg-primary hover:transition-all"
              [class.bg-primary]="type.id === shopParams.typeId"
              [value]="type.id"
              (click)="onTypeSelected(type.id)"
            >
              {{ type.name }}
            </li>
          }
        </ul>
      </div>
    </section>
    <section class="basis-3/4">
      <div class="flex items-center content-center justify-between pb-2">
        <header>
          <span>Showing <strong>10</strong> of <strong>18</strong> Results </span>
        </header>
        <div class="flex mt-2">
          <input class="input mr-2 form-control" placeholder="Search" />
          <button class="btn btn-primary btn-outline mx-2">Search</button>
          <button class="btn btn-success btn-outline">Reset</button>
        </div>
      </div>

      <!-- Card -->
      <div class="grid grid-cols-3 gap-4">
        @for (product of products(); track product.id) {
          <app-product-item [product]="product"></app-product-item>
        }
      </div>

      <!-- Pagination -->
      <div class="flex justify-center my-2">
        <app-pagination
          [pageIndex]="shopParams.pageIndex"
          [pageSize]="shopParams.pageSize"
          [totalCount]="totalCount()"
          (pageChange)="onPageChanged($event)"
        ></app-pagination>
      </div>
    </section>
  </div>
</div>
